body {
 line-height: 1.5;
 font-size: 20px;
 background-color: silver;
 color: black;
}
*{
  box-sizing: border-box;
}
.single-services{
  border: 2px solid white;
  width: 400px;
  height: 250px;
  margin: 2rem;
  border-radius: 20px;
  padding: 1rem ;
  margin-left: 2%;
  margin-right: 2%;

}
.services{
display: grid;
grid-template-columns: 32% 32% 32%;
gap: 10px;
}
.button{
  text-align: center;

}
.btn{
  padding: 1rem 2rem;
  border-radius: 25px;
 
}
.btn1{
  background-color: yellow;
}



